.env

node_modules/
dist/
build/
.vite/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

venv/
.env/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

runs/
mlruns/
wandb/
checkpoints/

bin/
*.exe
*.out
*.test
coverage.out
ingest/eecs-582-capstone
ingest/app.db

logs/
tmp/
temp/
*.jsonl
*.csv
*.db
*.sqlite

.vscode/
.idea/
*.swp
*.swo
